.dashboard-main-container {
  display: grid;
  /* padding: 0 30px 10px 30px; */
  grid-template-columns: 21% 56% 20%;
  /* First div takes 25%, second takes 75% */
  gap: 25px;
  margin: 10px 20px;
}

.dashboard-main-container .lables-container .labels-data-container {
  height: 490px;
  background-color: var(--greay-background);
  margin-bottom: 20px;
  border-radius: var(--primary-border-radius);
  padding: 5px 10px;
  overflow-y: scroll;
}

.dashboard-main-container .lables-container .labels-data-container .labels-data {
  display: grid;
  grid-template-columns: 68% 22% 10%;
  gap: 5px;
  color: var(--primary-color);
  align-items: center;
  height: 38px;
  justify-content: space-between;
  /* padding: 2px;
    border-bottom: 1px solid #ddd; */
}

.dashboard-main-container .lables-container .labels-data-container .labels-data .label-text {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.dashboard-main-container .lables-container .labels-data-container .labels-data .label-text:hover {
  overflow: visible;
  white-space: normal;
  background: #fff;
  /* position: absolute; */
  z-index: 1;
  width: 300px;
  max-width: 300px;
  /* Set max width for hover display */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.dashboard-main-container .lables-container .labels-data-container .labels-data div {
  background-color: white;
  width: auto;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  height: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  /* text-overflow: hidden; */
  padding-left: 4%;
}

.dashboard-main-container .lables-container .commands-data-container {
  height: 230px;
  background-color: var(--greay-background);
  border-radius: var(--primary-border-radius);
  padding: 2px 15px;
  position: relative;
  box-sizing: border-box;
  /* overflow: scroll;  */
}

.dashboard-main-container .lables-container .commands-data-container {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 15px;
}

.dashboard-main-container .lables-container .commands-data-container select {
  background-color: white;
  /* width: 180px; */
  padding: 3px 10px;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  /* margin-bottom: 15px; */
}

.dashboard-main-container .lables-container .commands-data-container #commands-apply-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  padding: 7px 12px;
  border-radius: 5px;
  border: 0px solid black;
  font-weight: 500;
}

.dashboard-main-container .lables-container .commands-data-container span {
  background-color: white;
  padding: 2px 4px 2px 2px;
  color: #878787;
  border: 1px solid white;
  border-radius: 5px;
}

.date-picker {
  background-color: white;
  /* width: 130px; */
  font-size: 15px;
  font-weight: 500;
  color: grey;
  border: 1px solid white;
}

/* .dashboard-main-container .lables-container .commands-data-container */
.dashboard-main-container .lables-container .commands-data-container input {
  /* width: 150px; */
  background-color: white;
  padding: 2px 0px;
  color: #878787;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12px;
}

.dashboard-main-container .graphs-container .graphs-data-container {
  height: 465.5px;
  background-color: var(--greay-background);
  border-radius: var(--primary-border-radius);
  margin-bottom: 20px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 10px; */
  justify-content: space-between;
  overflow-y: scroll;
}

.dashboard-main-container .graphs-container .graphs-data-container .graph {
  color: black;
  background-color: white;
  width: 500px;
  height: 150px;
  margin-bottom: 10.5px;
  padding: 0;
}

.dashboard-main-container .graphs-container .graphs-data-container .graph .graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 15px;
  height: 30px;
  position: relative;
}

.dashboard-main-container .graphs-container .graphs-data-container .graph .graph-header .view-more-button {
  border: 0;
  background-color: white;
  color: black;
  /* height: 10px; */
  padding: 0;
  cursor: pointer;
}

.dashboard-main-container .graphs-container .commands-output-container {
  height: 215px;
  background-color: var(--greay-background);
  border-radius: var(--primary-border-radius);
  padding: 10px;
}

.dashboard-main-container .graphs-container .commands-output-container ul {
  list-style: none;
  display: inline;
  margin-right: 15px;
}

.dashboard-main-container .graphs-container .commands-output-container span {
  padding-left: 15px;
  color: #666666;
  font-size: 20px;
  margin-right: auto;
}

.dashboard-main-container .graphs-container .commands-output-container ul li {
  margin-right: 10px;
  display: inline;
  float: right;
}

.dashboard-main-container .graphs-container .commands-output-container ul button {
  background-color: var(--primary-color);
  padding: 7px 15px;
  border-radius: 5px;
  border: 0px solid black;
  font-weight: 500;
  font-size: 15px;
}

.dashboard-main-container .graphs-container .commands-output-container .system-logs-container {
  color: black;
  border-radius: 15px;
  padding: 5px 20px 20px 10px;
  background-color: white;
  height: 140px;
  overflow-y: scroll;
  margin-left: 17px;
  margin-top: 15px;
}

.dashboard-main-container .time-tag-container {
  height: 560px;
  background-color: var(--greay-background);
  border-radius: var(--primary-border-radius);
  padding: 0px 20px 20px 20px;
}

.dashboard-main-container .time-tag-container p {
  color: #666666;
  font-size: 20px;
}

.dashboard-main-container .time-tag-container .time-tag-commands-container {
  background-color: white;
  max-width: auto;
  height: 88%;
  border-radius: var(--primary-border-radius);
  padding: 5px 15px;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  box-sizing: border-box;
}

.dashboard-main-container .time-tag-container .time-tag-commands-container p {
  font-size: 15px;
  color: black;
}

.dashboard-main-container .time-tag-container .time-tag-commands-container .step-item {
  display: flex;
  align-items: first baseline;
  position: relative;
  padding: 0;
  /* margin-bottom: 2px; */
}

.dashboard-main-container .time-tag-container .time-tag-commands-container .step-item .step-circle {
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 19px;
  /* bottom: 2px; */
}

.dashboard-main-container .time-tag-container .time-tag-commands-container .step-item .step-line {
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: 5px;
  top: 30px;
  box-sizing: border-box;
  overflow: hidden;
}

.dashboard-main-container .time-tag-container .time-tag-commands-container .step-item .step-text {
  margin-left: 20px;
  font-size: 16px;
  color: black;
}

.dashboard-main-container .graphs-container .graph-header .graph-options-menu {
  width: auto;
  text-overflow: ellipsis;
  /* height: auto; */
  background-color: white;
  color: black;
  padding: 5px 15px;
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 3px;
  overflow-y: scroll;
  height: 100px;
  z-index: 10;
  border: 1px solid var(--greay-background);
  box-shadow: 1px 1px 1px 1px #888888;
}

.dashboard-main-container .graphs-container .graph-header .graph-options-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashboard-main-container .graphs-container .graph-header .graph-options-menu ul li button {
  padding: 0;
  border: 0;
  color: black;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.dashboard-main-container .graphs-container .graph-header .graph-options-menu ul li button:hover {
  background-color: var(--greay-background);
  padding: 5px 3px;
}

.system-status-main-container {
  margin: 0;
  height: 150px;
  background-color: var(--greay-background);
  border-radius: var(--primary-border-radius);
  color: var(--primary-color);
  display: grid;
  grid-template-columns: 65% 35%;
}

.system-status-main-container .system-status-container {
  padding: 5px 15px;
}

.system-status-main-container .system-mode-container {
  padding: auto 10px;
}

/* Small desktops and laptops (1024px - 1279px) */
@media (min-width: 600px) and (max-width: 1279px) {

  /* Your styles here */
  .dashboard-main-container .graphs-container .commands-output-container span {
    font-size: 17px;
  }

  .dashboard-main-container .time-tag-container p {
    font-size: 13px;
  }

  .dashboard-main-container .time-tag-container .time-tag-commands-container .step-item .step-text {
    font-size: 13px;
  }

  .dashboard-main-container .graphs-container .commands-output-container .system-logs-container {
    font-size: 13px;
  }

  .dashboard-main-container .lables-container .commands-data-container {
    color: var(--primary-color);
    font-size: 13px;
  }

  .dashboard-main-container .lables-container .commands-data-container select {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .dashboard-main-container .lables-container .commands-data-container #commands-apply-button {
    bottom: 10px;
    padding: 3px 3px;
    font-size: 10px;
  }

  .dashboard-main-container .lables-container .labels-data-container .labels-data .label-text {
    font-size: 12px;
  }

  .dashboard-main-container .lables-container .labels-data-container .labels-data .label-text:hover {
    cursor: help;
    overflow: visible;
    white-space: normal;
    background: #fff;
    position: absolute;
    z-index: 10;
    width: 100px;
    max-width: 50px;
    /* Set max width for hover display */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 2px;
    border-radius: 5px;
  }
}

/* Standard desktops (1280px - 1919px) */
@media (min-width: 1280px) and (max-width: 1919px) {
  /* Your styles here */
}

/* Large desktops and 4K screens (1920px and above) */
@media (min-width: 1920px) {
  /* Your styles here */
}