.header-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e5e7eb;
  padding: 0 40px 0 100px;
  font-size: var(--font-size-heading);
  background-color: var(--buttons-color);
  color: white;
}
.logo-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.header-main-container #astro-logo-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header-main-container .date-time-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.header-main-container .date-time-container p {
  background-color: white;
  color: var(--buttons-color);
  border-radius: 3px;
  padding: 3px;
  font-size: var(--font-size-body);
}

.header-main-container .settings-help-container #username {
  font-style: bold;
  font-weight: 500;
}

@media screen and (width < 780px) {
  .header-main-container {
    border-bottom: 2px solid #e5e7eb;
    padding: 0 10px 0 40px;
  }
  .header-main-container #astro-logo-image {
    width: 15px;
    height: 15px;
  }
  .logo-container {
    gap: 5px;
  }
  .header-main-container .date-time-container {
    display: flex;
    flex-direction: row;
    gap: 1px;
  }
  
  .header-main-container .date-time-container p {
    border-radius: 2px;
    padding: 2px;
  }

  .header-main-container .date-time-container .date {
    height: 30px;
    display: flex;
    padding: 3px 10px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1800px) {
  .header-main-container {
    border-bottom: 2px solid #e5e7eb;
    padding: 0 10px 0 70px;
  }
  .header-main-container #astro-logo-image {
    width: 20px;
    height: 20px;
  }
  .logo-container {
    gap: 10px;
  }
  .header-main-container .date-time-container {
    gap: 5px;
  }
}