.alert-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 800;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
}
.alerts-main-container {
  margin: 7% 24.5%;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  color: black;
  font-size: var(--font-size-body);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12); /* 👈 soft and clean shadow */
  position: relative;
}

.alerts-container {
  border-top: 2px solid grey;
  /* padding: 0px 35px ; */
}
.alerts {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  height: 50px;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  border-bottom: 1px solid var(  --greay-background);
  padding: 5px 35px;
}
.alert-item {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 15px;
}
.alerts-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-heading);
  color: var(--buttons-color);
  font-weight: bold;
  padding: 0 22px;
}
.alerts-header-container i:hover {
  cursor: pointer;
}

.close-button {
  position: absolute; /* Position the button absolutely within the container */
  bottom: 30px; /* Align it to the bottom */
  right: 23px; /* Align it to the rightmost end */
  padding: 7px 25px;
 
} 
  

.acknowledge-button {
  /* background-color: white;
  border: 1px solid grey;
  color: black;
  font-size: var(--font-size-body);
  font-weight: bold; */
}
.acknowledge-all-button {
  /* background-color: rgb(19, 17, 17); */
  width: 90px;
}
/* .acknowledge-and-close-container {
    display: flex;
    gap: 10px;
    align-items: center;
} */

@media screen and (min-width: 780px) and (max-width: 1800px) {  
  .alerts{
    font-size: 14px;
  }
}